<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Web Portal</title>
    <link rel="shortcut icon" type="image/png" href="~/favicon.png" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <script src="~/resource/angularjs/angular.min.js" type="text/javascript"></script>
    <script src="~/resource/angularjs/ng.wliu.database.js" type="text/javascript"></script>

    <script src="~/resource/jquery/jquery.min.3.5.2.js" type="text/javascript"></script>
    <script src="~/resource/jquery/jquery.ui.12.1/jquery-ui.min.js" type="text/javascript"></script>
    <link href="~/resource/jquery/jquery.ui.12.1/jquery-ui.min.css" rel="stylesheet" />
    <script src="~/resource/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <link href="~/resource/bootstrap/css/bootstrap.min.css" rel="stylesheet" />


    <link href="~/resource/style/wliu.layout.css" rel="stylesheet" />
    <script src="~/resource/jquery/jq.wliu.widget.js" type="text/javascript"></script>
    <link href="~/resource/jquery/jq.wliu.widget.css" rel="stylesheet" />
    <script src="~/resource/jquery/jq.wliu.com.js" type="text/javascript"></script>
    <link href="~/resource/style/wliu.button.css" rel="stylesheet" />
    <link href="~/resource/style/wliu.com.css" rel="stylesheet" />
    <script src="~/resource/js/wliu.v1.com.js" type="text/javascript"></script>
    <script src="~/resource/js/wliu.v1.database.js" type="text/javascript"></script>
    <script src="~/resource/js/wliu.image.js" type="text/javascript"></script>
    <!--
    <script src="~/resource/js/wliu.qrcode.js" type="text/javascript"></script>
    -->
    <script src="~/resource/js/datepicker/picker.js"></script>
    <link href="~/resource/js/datepicker/picker.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Web.Portal</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Web.Portal - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    @RenderSection("Scripts", required: false)
</body>
</html>
