@section Scripts {
    <script>
    </script>
}
<div ng-app="myApp" ng-controller="mycontrl" style="position:absolute; width:100vw; height:100vh; box-sizing:border-box;">
    <img src="~/resource/style/Images/ShaolinBackground/shiyongxintizi.png" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);" />
</div>
