@section scripts {
    <script>
        var viewData = new WLIU.ViewData();
        var app = angular.module("myApp", ["wliu_database"]);

        app.controller("mycontrl", function ($scope) {
            viewData.LinkScope($scope);
            $scope.changeSuccess = function () {
                $("#changepassword").hide();
                $("#MessageDiag").diag({content: Words("reset.password.success")}).diag("show");
            }
        });

        $(function () {
            viewData.Init("/api/Home/InitResetPassword/@ViewBag.Guid").then(d => {
                d.database.tables.UserPassword.CurrentSetChange("Password");
                console.log(d.database.tables.UserPassword.CurrentColumn("Password"));
                if (d.database.tables.UserPassword.error.code>0) {
                    $("#changepassword").hide();
                    $("#MessageDiag").diag({content: d.database.tables.UserPassword.error.Message()}).diag("show");
                }
            });
        });

    </script>
}
<div ng-app="myApp" ng-controller="mycontrl">
    <div id="changepassword">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-1 col-md-1 col-sm-12">
                </div>
                <div class="col-lg-10 col-md-10 col-sm-12">
                    <div class="container-fluid" style="box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);border:1px solid #cccccc; margin-top:12px;">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div style="display:block;position:relative;margin:0px -2px; height:100px; background:center center url(/resource/style/Images/shaolin-temple.jpg) no-repeat; object-fit:cover; background-size:cover;"></div>
                                <div class="text-center">
                                    <h3><i class="fa fa-lock"></i> <span style="text-transform:uppercase;">@Html.Words("account.resetpass")</span></h3>
                                    <hr class="mt-2 mb-2">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                <div style="padding:0px 20px;">
                                    <form.label nowrap h2 db="ViewData.database" tb="UserPassword" col="Password"></form.label>
                                </div>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                                <div style="padding:0px 20px;">
                                    <form.password h2 db="ViewData.database" tb="UserPassword" col="Password"></form.password>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                <div style="padding:0px 20px;">
                                    <confirm.label nowrap h2 db="ViewData.database" tb="UserPassword" col="Password"></confirm.label>
                                </div>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                                <div style="padding:0px 20px;">
                                    <form.confirm h2 db="ViewData.database" tb="UserPassword" col="Password"></form.confirm>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12  col-xs-12 text-center">
                                <form.save h2 db="ViewData.database" tb="UserPassword" label="@Html.Words("account.resetpass")" action="changeSuccess()"></form.save>
                            </div>
                        </div>
                        <br />
                    </div>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-12">
                </div>
            </div>
        </div>
    </div>

    <div id="message" style="display:none;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-12">
                </div>
                <div class="col-lg-8 col-md-8 col-sm-12">
                    <p class="message-body"></p>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-12">
                </div>
            </div>
        </div>
    </div>

    <table.error></table.error>
    <form.error></form.error>

    <div id="MessageDiag" wliu diag maskable movable diag-toggle="MessageDiagToggle">
        <div head>
            <a success></a>
        </div>
        <div body style="min-height:60px;">
        </div>
        <center><a wliu button blue diag-toggle="MessageDiagToggle">@Html.Words("button.close")</a></center>
    </div>

    <wliu.tooltip></wliu.tooltip>
    <wliu.hint></wliu.hint>
    <wliu.loadding oper="get"></wliu.loadding>
    <wliu.loadding oper="save"></wliu.loadding>

</div>
