@section scripts {
    <script>
        var viewData = new WLIU.ViewData();
        var app = angular.module("myApp", ["wliu_database"]);

        app.controller("mycontrl", function ($scope) {
            viewData.LinkScope($scope);
            $scope.changeSuccess = function () {
                $("#changepassword").hide();
                $("#message>p.message-body").html(Words("reset.password.success"));
                $("#message").removeClass("wliu-info wliu-warn wliu-success").addClass("wliu-success").show();
            }
        });

        $(function () {
            viewData.Init("/api/Home/InitResetPassword/@ViewBag.Guid").then(d => {
                if (d.database.tables.UserPassword.error.code>0) {
                    $("#changepassword").hide();
                    $("#message>p.message-body").html(d.database.tables.UserPassword.error.Message());
                    $("#message").removeClass("wliu-info wliu-warn wliu-success").addClass("wliu-warn").show();
                }
            });
        });

    </script>
}
<div ng-app="myApp" ng-controller="mycontrl">
    <div id="changepassword">
        <div wliu table grow shrink style="margin-top:24px;">
            <div row center>
                <label wliu h1 style="text-transform:uppercase;">@Html.Words("account.resetpass")</label>
            </div>
            <div row style="margin-top:20px;">
                <div cell small right>
                    <form.label fit right h1 db="ViewData.database" tb="UserPassword" col="Password"></form.label>
                </div>
                <div cell large>
                    <form.password h1 db="ViewData.database" tb="UserPassword" col="Password"></form.password>
                </div>
                <div cell style="width:10px;"></div>
            </div>
            <div row style="margin-top:20px;">
                <div cell small right>
                    <confirm.label fit right h1 db="ViewData.database" tb="UserPassword" col="Password"></confirm.label>
                </div>
                <div cell large>
                    <form.confirm h1 db="ViewData.database" tb="UserPassword" col="Password"></form.confirm>
                </div>
                <div cell style="width:10px;"></div>
            </div>
            <div row center style="margin-top:40px;">
                <form.save h1 db="ViewData.database" tb="UserPassword" label="@Html.Words("account.resetpass")" action="changeSuccess()" style="margin:0px 20px;"></form.save>
            </div>
        </div>
    </div>
    <div id="message" style="display:none;">
        <p class="message-body"></p>
    </div>

    <table.error></table.error>
    <form.error></form.error>

    <wliu.tooltip></wliu.tooltip>
    <wliu.hint></wliu.hint>
    <wliu.loadding oper="get"></wliu.loadding>
    <wliu.loadding oper="save"></wliu.loadding>

</div>
