@section scripts {
    <script>
        var viewData = new WLIU.ViewData();
        var app = angular.module("myApp", ["wliu_database"]);

        app.controller("mycontrl", function ($scope) {
            viewData.LinkScope($scope);
            $scope.changeSuccess = function () {
                $scope.ViewData.database.tables.UserPassword.Empty();
            }
        });
        viewData.Init("/Admin/api/Profile/InitPass").then(data => {
            data.database.tables.UserPassword.NewRowB();
            data.Apply();
        });

    </script>
}
<div ng-app="myApp" ng-controller="mycontrl">
    <ng-form>
        <div wliu table grow shrink style="margin-top:24px;">
            <div row center>
                <label wliu h1 style="text-transform:uppercase;">@Html.Words("account.resetpass")</label>
            </div>
            <div row style="margin-top:20px;">
                <div cell small right>
                    <form.label fit right h1 db="ViewData.database" tb="UserPassword" col="OldPass"></form.label>
                </div>
                <div cell large>
                    <form.password h1 db="ViewData.database" tb="UserPassword" col="OldPass"></form.password>
                </div>
                <div cell style="width:10px;"></div>
            </div>
            <div row style="margin-top:20px;">
                <div cell small right>
                    <form.label fit right h1 db="ViewData.database" tb="UserPassword" col="NewPass"></form.label>
                </div>
                <div cell large>
                    <form.password h1 db="ViewData.database" tb="UserPassword" col="NewPass"></form.password>
                </div>
                <div cell style="width:10px;"></div>
            </div>
            <div row style="margin-top:20px;">
                <div cell small right>
                    <confirm.label fit right h1 db="ViewData.database" tb="UserPassword" col="NewPass"></confirm.label>
                </div>
                <div cell large>
                    <form.confirm h1 db="ViewData.database" tb="UserPassword" col="NewPass"></form.confirm>
                </div>
                <div cell style="width:10px;"></div>
            </div>
            <div row center style="margin-top:40px;">
                <form.save h1 db="ViewData.database" tb="UserPassword" label="@Html.Words("account.resetpass")" action="changeSuccess()" style="margin:0px 20px;"></form.save>
                <form.cancel h1 db="ViewData.database" tb="UserPassword" label="@Html.Words("button.cancel")" style="margin:0px 20px;"></form.cancel>
            </div>
        </div>
    </ng-form>

    <table.error></table.error>
    <form.error></form.error>

    <wliu.tooltip></wliu.tooltip>
    <wliu.hint></wliu.hint>
    <wliu.loadding oper="get"></wliu.loadding>
    <wliu.loadding oper="save"></wliu.loadding>

</div>
