@section scripts {
    <script>
    var viewData = new WLIU.ViewData();
    var app = angular.module("myApp", ["wliu_database"]);

    app.controller("mycontrl", function ($scope) {
        viewData.LinkScope($scope);
    });

    viewData.Init("/Admin/api/PubWeb/InitWebMenu").then(d => {
    });
    </script>
}
<div class="container-fluid" ng-app="myApp" ng-controller="mycontrl">
    <ng-form>
        <div style="display:block">
            <label wliu h2 style="vertical-align:middle;">@Html.Words("admin.menu")</label>
            <tree.add db="ViewData.database" tb="FirstMenu" ftb="SecondMenu" kvs="{ParentId: 0}" style="vertical-align:middle;"></tree.add>
            <ul wliu tree root>
                <li nodes open ng-repeat="frow in ViewData.database.tables.FirstMenu.rows">
                    <s folder></s>
                    <tree.textbox short db="ViewData.database" tb="FirstMenu" guid="{{frow.guid}}" col="MenuId"></tree.textbox>
                    <tree.textbox medium db="ViewData.database" tb="FirstMenu" guid="{{frow.guid}}" col="Title_en"></tree.textbox>
                    <tree.textbox medium db="ViewData.database" tb="FirstMenu" guid="{{frow.guid}}" col="Title_cn"></tree.textbox>
                    <tree.textbox large db="ViewData.database" tb="FirstMenu" guid="{{frow.guid}}" col="Url"></tree.textbox>
                    <tree.bool db="ViewData.database" tb="FirstMenu" guid="{{frow.guid}}" col="Active"></tree.bool>
                    <tree.textbox tiny db="ViewData.database" tb="FirstMenu" guid="{{frow.guid}}" col="Sort"></tree.textbox>
                    <tree.select small db="ViewData.database" tb="FirstMenu" guid="{{frow.guid}}" col="Position"></tree.select>
                    <tree.bicon db="ViewData.database" tb="FirstMenu" guid="{{frow.guid}}" icons="save,cancel,delete"></tree.bicon><tree.add db="ViewData.database" tb="SecondMenu" ftb="FirstMenu" kvs="{ParentId: frow.key}"></tree.add>
                    <ul wliu tree>
                        <li node ng-repeat="srow in ViewData.database.tables.SecondMenu.FilterRows({ParentId:frow.key})">
                            <s folder></s>
                            <tree.textbox short db="ViewData.database" tb="SecondMenu" guid="{{srow.guid}}" col="MenuId"></tree.textbox>
                            <tree.textbox medium db="ViewData.database" tb="SecondMenu" guid="{{srow.guid}}" col="Title_en"></tree.textbox>
                            <tree.textbox medium db="ViewData.database" tb="SecondMenu" guid="{{srow.guid}}" col="Title_cn"></tree.textbox>
                            <tree.textbox large db="ViewData.database" tb="SecondMenu" guid="{{srow.guid}}" col="Url"></tree.textbox>
                            <tree.bool db="ViewData.database" tb="SecondMenu" guid="{{srow.guid}}" col="Active"></tree.bool>
                            <tree.textbox tiny db="ViewData.database" tb="SecondMenu" guid="{{srow.guid}}" col="Sort"></tree.textbox>
                            <tree.bicon db="ViewData.database" tb="SecondMenu" guid="{{srow.guid}}" icons="save,cancel,delete"></tree.bicon>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </ng-form>
    <checkbox.diag db="ViewData.database"></checkbox.diag>
    <table.error></table.error>
    <form.error></form.error>
    <wliu.tooltip></wliu.tooltip>
    <wliu.hint></wliu.hint>
    <wliu.loadding oper="get"></wliu.loadding>
    <wliu.loadding oper="save"></wliu.loadding>
</div>
