@section scripts {
    <script>
        var viewData = new WLIU.ViewData();
        var app = angular.module("myApp", ["wliu_database"]);

        app.controller("mycontrl", function ($scope) {
            viewData.LinkScope($scope);
        });
        viewData.Init("/Admin/api/Setting/InitGallery");
    </script>
}
<div ng-app="myApp" ng-controller="mycontrl">
    <ng-form>
        <fieldset>
            <legend>@Html.Words("search.by")</legend>
            <filter.label db="ViewData.database" tb="Gallery" col="search_keyword"></filter.label>
            <filter.textbox db="ViewData.database" tb="Gallery" col="search_keyword"></filter.textbox>
            <wliu.search db="ViewData.database" tb="Gallery">Search</wliu.search>
        </fieldset>
        <div wliu table grow shrink style="margin-top:12px;">
            <div row>
                <div cell style="background-color:#dddddd;">
                    <wliu.navi db="ViewData.database" tb="Gallery"></wliu.navi>
                </div>
            </div>
            <div row>
                <div head fixed style="width:40px;"></div>
                <div head medium><wliu.head db="ViewData.database" tb="Gallery" col="GalleryName"></wliu.head></div>
                <div head center fixed style="width:60px;"><wliu.head db="ViewData.database" tb="Gallery" col="IsSaveDB"></wliu.head></div>
                <div head medium><wliu.head db="ViewData.database" tb="Gallery" col="FilePath"></wliu.head></div>
                <div head small><wliu.head db="ViewData.database" tb="Gallery" col="MaxCount"></wliu.head></div>
                <div head small><wliu.head db="ViewData.database" tb="Gallery" col="large_w"></wliu.head></div>
                <div head small><wliu.head db="ViewData.database" tb="Gallery" col="large_h"></wliu.head></div>
                <div head small><wliu.head db="ViewData.database" tb="Gallery" col="medium_w"></wliu.head></div>
                <div head small><wliu.head db="ViewData.database" tb="Gallery" col="medium_h"></wliu.head></div>
                <div head small><wliu.head db="ViewData.database" tb="Gallery" col="small_w"></wliu.head></div>
                <div head small><wliu.head db="ViewData.database" tb="Gallery" col="small_h"></wliu.head></div>
                <div head small><wliu.head db="ViewData.database" tb="Gallery" col="tiny_w"></wliu.head></div>
                <div head small><wliu.head db="ViewData.database" tb="Gallery" col="tiny_h"></wliu.head></div>
                <div head fixed style="width:60px;"><wliu.head db="ViewData.database" tb="Gallery" col="Active"></wliu.head></div>
                <div head fixed style="width:56px;">
                    <wliu.hicon db="ViewData.database" tb="Gallery" icons="add,save,cancel"></wliu.hicon>
                </div>
            </div>
            <div row ng-repeat="row in ViewData.database.tables.Gallery.rows">
                <div cell center fixed style="width:40px;">
                    <wliu.rowstatus db="ViewData.database" tb="Gallery" guid="{{row.guid}}"></wliu.rowstatus>
                </div>
                <div cell medium>
                    <wliu.textbox db="ViewData.database" tb="Gallery" guid="{{row.guid}}" col="GalleryName"></wliu.textbox>
                </div>
                <div cell center fixed style="width:60px;">
                    <wliu.bool db="ViewData.database" tb="Gallery" guid="{{row.guid}}" col="IsSaveDB"></wliu.bool>
                </div>
                <div cell medium>
                    <wliu.textbox db="ViewData.database" tb="Gallery" guid="{{row.guid}}" col="FilePath"></wliu.textbox>
                </div>
                <div cell small>
                    <wliu.textbox db="ViewData.database" tb="Gallery" guid="{{row.guid}}" col="MaxCount"></wliu.textbox>
                </div>
                <div cell small>
                    <wliu.textbox db="ViewData.database" tb="Gallery" guid="{{row.guid}}" col="large_w"></wliu.textbox>
                </div>
                <div cell small>
                    <wliu.textbox db="ViewData.database" tb="Gallery" guid="{{row.guid}}" col="large_h"></wliu.textbox>
                </div>
                <div cell small>
                    <wliu.textbox db="ViewData.database" tb="Gallery" guid="{{row.guid}}" col="medium_w"></wliu.textbox>
                </div>
                <div cell small>
                    <wliu.textbox db="ViewData.database" tb="Gallery" guid="{{row.guid}}" col="medium_h"></wliu.textbox>
                </div>
                <div cell small>
                    <wliu.textbox db="ViewData.database" tb="Gallery" guid="{{row.guid}}" col="small_w"></wliu.textbox>
                </div>
                <div cell small>
                    <wliu.textbox db="ViewData.database" tb="Gallery" guid="{{row.guid}}" col="small_h"></wliu.textbox>
                </div>
                <div cell small>
                    <wliu.textbox db="ViewData.database" tb="Gallery" guid="{{row.guid}}" col="tiny_w"></wliu.textbox>
                </div>
                <div cell small>
                    <wliu.textbox db="ViewData.database" tb="Gallery" guid="{{row.guid}}" col="tiny_h"></wliu.textbox>
                </div>
                <div cell center fixed style="width:60px;">
                    <wliu.bool db="ViewData.database" tb="Gallery" guid="{{row.guid}}" col="Active"></wliu.bool>
                </div>
                <div cell fixed style="width:56px;">
                    <wliu.bicon db="ViewData.database" tb="Gallery" guid="{{row.guid}}" icons="save,cancel,delete"></wliu.bicon>
                </div>
            </div>
        </div>
    </ng-form>

    <table.error></table.error>
    <form.error></form.error>

    <wliu.tooltip></wliu.tooltip>
    <wliu.hint></wliu.hint>
    <wliu.loadding oper="get"></wliu.loadding>
    <wliu.loadding oper="save"></wliu.loadding>
</div>
