<!-- Grid row -->
<div class="row">

    <!-- Grid column -->
    <div class="col-lg-4 col-md-6 col-sm-12">
        <div wliu card>
            <div wliu card head>
                <img src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg">
            </div>
            <div wliu card title>ShaoLin Qi Gong Eight Brocade</div>
            <div wliu card body>
                <p>Date: 2020-07-15 ~ 2020-07-25</p>
                <p>Center: Vancouver ShaoLin Center of Canada</p>
                <p>Location: 10300 Canada Way, Richmond, BC V5H 3M3</p>
                <p>Phone: 778-888-9999 Email: <a href="mailto:enroll@shaolinworld.org">enroll@shaolinworld.org</a></p>
            </div>
            <div wliu card foot>
                <a href="#" class="btn btn-primary">Enroll</a>
            </div>
        </div>
    </div>
    <!-- Grid column -->
    <!-- Grid column -->
    <div class="col-lg-4 col-md-6 col-sm-12">
        <div wliu card>
            <div wliu card head>
                <img src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg">
            </div>
            <div wliu card title>少林气功八段锦</div>
            <div wliu card body>
                <p>时间: 2020-07-15 ~ 2020-07-25</p>
                <p>中心: 加拿大温哥华少林文化中心</p>
                <p>地点: 10300 Canada Way, Richmond, BC V5H 3M3</p>
                <p>电话: 778-888-9999 邮箱: <a href="mailto:enroll@shaolinworld.org">enroll@shaolinworld.org</a></p>
            </div>
            <div wliu card foot>
                <a href="#" class="btn btn-primary">报名</a>
            </div>
        </div>
    </div>
    <!-- Grid column -->
    <!-- Grid column -->
    <div class="col-lg-4 col-md-6 col-sm-12">
        <div wliu card>
            <div wliu card head>
                <img src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg">
            </div>
            <div wliu card title>ShaoLin Qi Gong Eight Barcade</div>
            <div wliu card body>
                <p>Date: 2020-07-15 ~ 2020-07-25</p>
                <p>Center: Vancouver ShaoLin Center of Canada</p>
                <p>Location: 10300 Canada Way, Richmond, BC V5H 3M3</p>
                <p>Phone: 778-888-9999 Email: <a href="mailto:enroll@shaolinworld.org">enroll@shaolinworld.org</a></p>
            </div>
            <div wliu card foot>
                <a href="#" class="btn btn-primary">Enroll</a>
            </div>
        </div>
    </div>
    <!-- Grid column -->

</div>
<!-- Grid row -->